html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

button,
input {
  font-size: 100%;
  font: inherit;
}

@font-face {
  font-family: Quicksand;
  src: url(./style/Quicksand-Medium.ttf);
  font-weight: medium;
}

@font-face {
  font-family: Quicksand;
  src: url(./style/Quicksand-Regular.ttf);
}

html {
  font: 1.5em "Quicksand", -apple-system;
  color: rgb(37, 37, 37);
  font-weight: medium;
}

.habit-view {
  display: flex;
  flex-direction: row;
  border-top: 1px solid #add8e6;
  border-bottom: 1px solid #add8e6;
  margin-top: -1px;
  overflow: visible;
}

.add-habit,
.habit-edit,
.habit-button {
  border: none;
  background: none;
}

.add-habit,
.habit-button,
.habit-edit {
  width: 100%;
}

.habit-button {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.habit-button span {
  display: inline-block;
}

.habit-done .habit-description {
  text-decoration: line-through;
}

/* The Modal (background) */
.modal-background {
  position: relative; /* Stay in place */
  left: 0;
  top: 0;
  width: 400px; /* Full width */
  height: 100%; /* Full height */
  max-height: 565px;
  border-radius: 0% 2% 2% 0%;
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.modal-container {
  position: fixed;
  z-index: 1; /* Sit on top */
  height: 100%; /* Full height */
}

/* Modal Content/Box */
.modal-content {
  position: relative; /* Stay in place */
  background-color: #ffffff;
}

.modal-view {
  display: flex;
  flex-direction: column;
}

.line-content input,
.line-content button {
  border: none;
  background: none;
}

.modal-view label {
  border-bottom: 0.5px solid #add8e6;
}

.modal-view input {
  border-bottom: 0.5px dotted #add8e6;
}

.modal-view button {
  color: #cc0000;
  text-decoration: underline #cc0000;
}

modal-view-buttons {
  display: flex;
  flex-direction: row;
}

.slot {
  position: relative;
  display: flex;
  flex: 1;
  flex-direction: row;
}

.slot > div {
  min-width: 400px;
}

body {
  background-color: #c8a2c8;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.menu {
  min-height: 50px;
}

/**
* PAGE STYLING 
*/

.page {
  background-color: white;
  box-shadow: 0px 0px 10px lightgrey;
  border-radius: 10px 10px 10px 10px;
}

/** TODO Figure out how to make this responsive **/
.page {
  min-width: 500px;
  max-width: 500px;

  overflow: hidden;
}

@media (max-width: 500px) {
  .page {
    min-width: 95vw;
    max-width: 95vw;
  }
}

.page-head {
  min-height: 2em;
  max-height: 2em;

  border-bottom: 2px solid #add8e6;
}

.page-line {
  display: flex;
  flex-direction: row;
  min-height: 1.1em;
  max-height: 1.1em;
  height: 1.1em;

  border-bottom: 1px solid #add8e6;
}

.line-content {
  margin-left: 0.1em;
  width: 100%;
}

.page-foot {
  min-height: 1.5em;
  max-height: 1.5em;
}

/** Margin */
.page::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 100%;
  top: 0;
  left: 2em;
  bottom: 0;
  border-width: 1px;
  border-style: none solid none solid;
  border-color: transparent pink;
}

.margin {
  width: calc(2em + 4px);
  min-width: calc(2em + 4px);
  max-width: calc(2em + 4px);
}

.habit-tag {
  font-size: 0.7em;
  color: darkgrey;
}

.transition-page {
  position: absolute;
}

.page-container {
  position: relative;
  margin-top: 1em;
  margin-bottom: 1em;
}

.middle {
  z-index: 2;
  position: relative;
}

.above {
  z-index: 3;
}

.below {
  z-index: 1;
}

/**
Common color scheme:
Buttons are pink + underlined

What about inputs and labels?

Possible ways to distinuish things:
Underlines
Colour change
Bold
Borders
**/
